<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple clients CRM</title>
    <link rel="stylesheet" href="public\assets\styles\style.css"/>
    <style>
        table {
    text-align: left;

}

tr {
    margin: 2px;
    background-color: #e1e1e1;

}

thead tr {
    background-color: #969696;
}

tr:nth-child(2) {
    background-color: #cfc3c3;
}

td, th {
    padding: 6px;
}

    </style>
</head>
<body>
    <h1>Clients CRM</h1>
    <hr>
    {{{ body }}}
</body>
</html>