table {
    text-align: left;

}

tr {
    margin: 2px;
    background-color: #e1e1e1;

}

thead tr {
    background-color: #969696;
}

tr:nth-child(2) {
    background-color: #cfc3c3;
}

td, th {
    padding: 6px;
}
